@charset "UTF-8";

body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

header > h1{
    text-align: center;
}

nav{padding: 5px;}

nav > a {
    color: rgb(108, 108, 255);
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 30px;
}

nav > a:hover {
    color: blue;
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}

article > aside{
    padding: 2px;
    background-color: rgb(238, 238, 238);
    border-radius: 2px;
}

footer{
    background-color: rgb(148, 148, 148);
    color: white;
    text-align: center;
    padding: 3px;
    margin: 0px;
}

footer > p {margin: 0px;}