header{
    background-color: transparent;
}
nav{
    background-color: transparent;
}

body{
    background-image: url('../imagens/pattern001.png');
    background-position: right top;
    background-repeat: no-repeat;
}

#posicoes{
    max-width: 800px;
    min-width: 200px;
    margin: auto;
}