header{
    background-color: transparent;
}
nav{
    background-color: transparent;
}

body{
    background-image: url('../imagens/pattern004.png');
    background-repeat: repeat-y;
    background-position: center top;
}

#repetidas{
    max-width: 800px;
    min-width: 200px;
    margin: auto;
}