@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Martian+Mono:wght@100..800&family=Quicksand:wght@300..700&display=swap'); 
/*
conteúdo
.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Martian+Mono:wght@100..800&display=swap');
/*
Menu
.commissioner-<uniquifier> {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
/*
título
.martian-mono-<uniquifier> {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
:root{
  --titulo: "Martian Mono", monospace;
  --menu: "Commissioner", sans-serif;
  --conteúdo: "Quicksand", sans-serif;
}

body{
  background-color: #efe2c5;
}

header{
  background-image: url('../imagens/folhagem02.jpg');
  background-position: right center;
  background-size: cover;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.316);
}

header h1{
  font-family: var(--titulo);
  font-size: 4em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}


header nav a{
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  padding-left: 30px;
  font-family: var(--menu);
}

header nav a:hover{
  text-decoration: overline;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.327);
}

main{
  width: 700px;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.401);
  margin: auto;
  text-align: justify;
  padding: 15px;
  text-indent: 20px;
  line-height: 1.4em;
}

section{
  font-family: var(--conteúdo);
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 30px;
}

#borboleta h2{
  padding: 20px;
  background-image: url('../imagens/borboleta-02.jpg');
  background-position: right center;
  background-size: cover;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.401);
  margin-right: -15px;
  margin-left: -15px;
  font-family: var(--titulo);
  color: rgba(255, 255, 255, 0.91);
}

#borboleta p{
  font-family: var(--conteúdo);
  line-height: 1.5em;
}

#formiga h2{
  padding: 20px;
  background-image: url('../imagens/formiga-02.jpg');
  background-position: right center;
  background-size: cover;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.401);
  margin-left: -15px;
  margin-right: -15px;
  font-family: var(--titulo);
  color: rgba(255, 255, 255, 0.91);
}
#formiga p{
  font-family: var(--conteúdo);
  line-height: 1.5em;
}

#besouro h2{
  padding: 20px;
  background-image: url('../imagens/besouro-02.jpg');
  background-position: right center;
  background-size: cover;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.401);
  margin-right: -15px;
  margin-left: -15px;
  font-family: var(--titulo);
  color: rgba(255, 255, 255, 0.91);
}

#besouro p{
  font-family: var(--conteúdo);
  line-height: 1.5em;
}

#abelha h2{
  padding: 20px;
  background-image: url('../imagens/abelha-02.jpg');
  background-position: right center;
  background-size: cover;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.401);
  margin-right: -15px;
  margin-left: -15px;
  font-family: var(--titulo);
  color: rgba(255, 255, 255, 0.91);
}
#abelha p{
  font-family: var(--conteúdo);
  line-height: 1.5em;
}

footer{
  padding: 2px;
  font-size: 0.9em;
  background-color: rgba(52, 134, 52, 0.768);
  font-family: var(--conteúdo);
  color: white;
  text-align: center;
}