:root{
    --cor1: rgba(1, 1, 1, 0.52);
    --cor2: rgb(137, 129, 129);
    --cor3: rgb(163, 163, 46);
    --cor4: rgb(66, 123, 228);

    --font-titulo: Verdana;
    --font-conteudo: Times;
}

body{
    background-color: var(--cor3);
}

main{
    background-color: var(--cor1);
    width: 700px;
}

h1{
    color: var(--cor2);
    font-family: var(--font-titulo);
}

h2{
    color: var(--cor4);
    font-family: var(--font-titulo);
}

p{
    color: white;
    font-family: var(--font-conteudo);
}