@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /*font-family: "Funnel Sans", sans-serif;*/
@font-face {
    font-family: 'Caligrafia';
    src: url('fonts/Autography.otf') format('opentype');
    font-weight: normal;
}

body{
    background-image: linear-gradient(to right, #A6A6A6, #D9D9D9);
    font-family: "Funnel Sans", sans-serif;
    font-size: 1em;
}

main{
    background-color: #F2F2F2;
    margin: auto;
    padding: 15px;
    width: 700px;
    border-radius: 10px;
    box-shadow: #A6A6A6 1px 1px 15px;
}

#titulo-principal{
    color: #404040;
    text-align: center;
    text-shadow: #959595 1px 1px 3px;
}

.titulo-secundario{
    color: #8C8C8C;
    text-shadow: #d3d3d3 1px 1px 5px;
}

p
{
    text-align: justify;
    text-indent: 20px;
}

.citacao
{
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    font-style: italic;
}