@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;}

body
{background-image: linear-gradient(to right, #BEBFBD, #A6A6A6);}

main
{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 600px;
    box-shadow: 5px 5px 16px #7d7d7d;
}

h1
{
    color: #8C2E40;
    text-align: center;
    text-shadow: 1px 1px 1.5px #8C2E40;
}

h2
{color: #A66556;}

p
{text-align: justify;}